* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: #141b1c;
  color: #ffffff;
  font-weight: 300;
  width: 100vw;
  min-height: 100vh;
}

.price {
  display: flex;
}

.price-card {
  position: relative;
  width: 380px;
  height: 770px;
  background-color: #334247;
  margin-right: 18px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.0862745098);
  overflow: hidden;
}

.price-card:last-child {
  margin-right: 0;
}

.price-card__title {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 33px;
}

.price-card__title h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.price-card__title span {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}

.price-card__price {
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.price-card__price.green-bg {
  height: 105px;
  background-color: #5bb189;
}

.price-card__price.blue-bg {
  height: 105px;
  background-color: #3a6ba5;
}

.price-card__price.orange-bg {
  height: 105px;
  background-color: #ec632a;
}

.price-card__description {
  margin: 40px 26px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.price-card__options-list_item {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.price-card__options-list_item:nth-child(odd) {
  background-color: #2A3438;
}

.price-card__options-list_item img {
  margin: auto 22px auto 22px;
}

.price-card__order-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 39px;
}

.price-card__order-btn button {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 11px 27px 12px 28px;
}

.price-card__order-btn button.blue-bg {
  background-color: #3a6ba5;
}

.price-card__order-btn button.orange-bg {
  background-color: #ec632a;
}

.price-card__order-btn button.green-bg {
  background-color: #5bb189;
}

.price-card__badge {
  position: absolute;
  right: -30px;
  top: 30px;
  width: 147px;
  height: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  background: #DC3F45;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
