@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
  background-color: $body-background-color;
  color: $white;
  font-weight: 300;

  width: 100vw;
  min-height: 100vh;
}

.price {
  display: flex;
}

.price-card {
  position: relative;
  width: 380px;
  height: 770px;
  background-color: $card-background-color;
  margin-right: 18px;
  box-shadow: 0px 6px 6px #00000016;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 33px;

    h2 {
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    span {
      font-size: 20px;
      line-height: 25px;
      font-weight: 300;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;

    &.green-bg {
      height: 105px;
      background-color: $green;
    }

    &.blue-bg {
      height: 105px;
      background-color: $blue;
    }

    &.orange-bg {
      height: 105px;
      background-color: $orange;
    }
  }

  &__description {
    margin: 40px 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  &__options-list {
    &_item {
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      padding-top: 16px;
      padding-bottom: 16px;

      &:nth-child(odd) {
        background-color: $list-background-color;
      }

      img {
        margin: auto 22px auto 22px;
      }
    }
  }

  &__order-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 39px;

    button {
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      border-radius: 20px;
      border: none;
      color: white;
      padding: 11px 27px 12px 28px;

      &.blue-bg {
        background-color: $blue;
      }

      &.orange-bg {
        background-color: $orange;
      }

      &.green-bg {
        background-color: $green;
      }
    }
  }

  &__badge {
    position: absolute;
    right: -30px;
    top: 30px;

    width: 147px;
    height: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    background: #dc3f45;
    transform: rotate(45deg);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
