$body-background-color: #141b1c;
$card-background-color: #334247;
$list-item-dark-bg: #2a343880;
$shadow-color: #00000016;

$white: #ffffff;
$red-badge-bg: #dc3f45;
$orange: #ec632a;
$blue: #3a6ba5;
$green: #5bb189;